@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}


.image-fade-mask {
    /* TWEAK: Gradient now starts fading at 50% instead of 60% for a more intense fade */
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@keyframes gradient-x {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 6s ease infinite;
}